@charset "utf-8";
/* Custom CSS Document */

body {
	font-family: "ff-tisa-web-pro",serif; 
}

h1 {
  font-family: "brandon-grotesque",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }


/* Bootstrap Overrides */
.navbar {
    font-family: "brandon-grotesque",sans-serif;
    text-transform: uppercase;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-default {
    background-color: #fff;
    border:none;
    
}
.navbar-toggle {
    border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:#fff;
    background-color: #ff0000;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#ff0000;
    
}
